

<div class="card shadow" style="position: relative; z-index: 200;">

  <!-- input text box -->
  <input type="text" placeholder = "What needs to be done"
    name ="text" class="border-0" (keyup.enter)= "onEnter()"
    autofocus autocomplete="off"  [(ngModel)] ="text" />

    <!-- displaying tasks -->
    <app-task  [posts] = "posts" 
               [check] = "check" >
    </app-task>

    <!-- navigation -->
    <app-nav  (activeEvent)= "active($event)"
              (allEvent)= "all($event)"
              (completedEvent)= "complete($event)"
              (clearEvent)= "clearAll($event)"
              [highlightAll]="highlightAll"
              [highlightActive]="highlightActive"
              [highlightCompleted]="highlightCompleted"
              [posts] = "posts"  [check] = "check">
    </app-nav>

      
</div>

