.card{
  margin-left: 260px;
  margin-right: 260px;

}
input{
  font-size: 23px;
  padding: 17px;
  padding-left: 60px;
}



input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

