
<ul class="list-group">
  <li  *ngFor= 'let post of posts' class="list-group-item text-left border-left-0
    border-right-0 pt-0 pb-0 pr-0" >

    <!-- checkbox -->
    <div class="round">
      <input type="checkbox" class="myCheck" id="{{post._id}}" [checked]="post.done" />
      <label for="{{post._id}}" class="mt-4" (click)= "onCheck(post)" ></label>
    </div>

    <!-- text box for editing -->
    <div class=""  *ngIf = "post['isEdit']">
      <input type="text"  #text1 (keyup.enter)= "onUpdate(post,text1.value)" (focusout)="onUpdate(post,text1.value)" 
        value="{{post.task}}" class="full ml-5 pl-2" />
    </div>

    <!-- displaying tasks -->
    <div class="task "  *ngIf = "!post['isEdit']" (dblclick)="update(post)" [class.checked]="post.done"   >
      {{post.task}}
    </div>

    <!-- close button -->
    <button *ngIf = "!post['isEdit']" type="button" class="close text-danger" aria-label="Close">
      <span aria-hidden="true" (click)="delete(post)" >&times;</span>
    </button>

  </li>
</ul>